.main {
    display: flex;
    margin: 20px 10px 10px 10px;
}

main {
    width: 100vw;
    height: 100%;
    background: var(--color1);
    opacity: 0.9;
    padding: 10px;
    border-radius: 5px;
    color: var(--color2);
}

.call h1 {
    font-size: 40px;
    border-bottom-style: solid;
}

form {
    width: 100%;
    align-items: center;
    margin-top: 50px;
}

.input {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
}

.user-box {
    position: relative;
    margin: 0 20px;
}

.user-box input {
    font-family: 'Yekan';
    width: 100%;
    padding: 5px 5px;
    font-size: 14px;
    color: var(--color2);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--color2);
    outline: none;
    background: transparent;
}

.user-box label {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    font-size: 16px;
    color: var(--color2);
    pointer-events: none;
    transition: 0.5s;
}

.user-box input~label {
    top: -20px;
    left: 0;
    color: var(--color5);
    font-size: 15px;
}

.valid {
    font-family: 'Yekan';
    height: 20px;
    width: 160px;
    margin-bottom: 10px;
}


textarea {
    font-family: 'Yekan';
    width: 100%;
    height: 150px;
    resize: none;
    font-size: 15px;
    border-color: var(--color2);
    border-width: 1px;
    border-radius: 15px;
    outline: none;
    padding: 5px 10px;
    background: transparent;
    color: var(--color2);
}

.submit {
    font-family: 'Yekan';
    width: 20%;
    position: relative;
    align-items: center;
    padding: 15px 5px;
    font-size: 16px;
    cursor: pointer;
    transition: .5s;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

.submit:hover {
    background: var(--color5);
    color: var(--color1);
    font-weight: 700;
}

#snackbar1,
#snackbar2 {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: var(--color4);
    color: var(--color2);
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar1 {
    background: green;
}

#snackbar2 {
    background: red;
}

#snackbar1.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    cursor: none;
}

#snackbar2.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    cursor: none;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}